/*====nav===*/
nav {
  background-color: #333;
  padding: 1rem;
}

nav a {
  color: blue;
  padding: 1rem;
  display: block;
}

/*====main====*/
main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px;
  padding: 1rem;
  box-shadow: #333;

}

/*====aside====*/
aside {
  width: 20 rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 /0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

/*====all,h1 P====*/
p {
  padding: 0;
}

h1 {
  color: #000;
}

/*====footer===*/
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}